@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');

.container {
  display: flex;
  justify-content: center;
  padding: 10px 0;
  margin-top: 50px;
  font-family: 'Inter', sans-serif;
}

.number {
  padding: 5px;
}

.number {
  padding: 10px 15px;
  border-radius: 50%;
  color: #000000;
  cursor: pointer;
  text-decoration: none;
  place-items: center;
}

.number:hover {
  color: white;
  background-color: #4a4e69;
}

@media only screen and (max-width: 320px) {
  .number {
    padding: 5px;
  }
}
