@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');

.container {
  display: flex;
  justify-content: center;
  padding: 10px 0;
  margin-top: 50px;
  /* background: rgb(242, 233, 228);
  background: linear-gradient(
    90deg,
    rgba(242, 233, 228, 1) 0%,
    rgba(201, 173, 167, 1) 40%,
    rgba(201, 173, 167, 1) 60%,
    rgba(242, 233, 228, 1) 100%
  ); */
  font-family: 'Inter', sans-serif;
}

.number {
  padding: 5px;
}

.number {
  padding: 10px 15px;
  border-radius: 50%;
  color: #000000;
  cursor: pointer;
  text-decoration: none;
  place-items: center;
}

.number:hover {
  color: white;
  background-color: #4a4e69;
}
