.container {
  margin: 4%;
  margin-top: 0;
}

.card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 30px;
}

.main {
  font-family: 'League Spartan', sans-serif;
  font-size: 30px;
  text-align: center;
  background-color: #e7e9eb;
  color: #4a4e69;
  border-radius: 10px;
  border: 2px solid #4a4e6981;
  padding: 20px;
}
.main img:hover {
  transform: scale(1.1);
}

p {
  font-size: 15px;
  margin-top: 5px;
}

.column3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 30px;
}

.column4 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 30px;
}

.buttons {
  display: flex;
  justify-content: flex-end;
}

button {
  width: 30px;
  margin: 3px;
  background-color: #e7e9eb;
  color: #4a4e69;
  border-radius: 10px;
  box-shadow: 1px 1px #595959;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

@media only screen and (max-width: 425px) {
  .card {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 30px;
  }

  .buttons {
    display: none;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .column3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
  }

  .btn4 {
    display: none;
  }
}
