.container {
  margin: 4%;
  margin-top: 0;
}

.card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 50px;
}

.title {
  font-family: 'League Spartan', sans-serif;
  font-size: 30px;
  text-align: center;
  background-color: #e7e9eb;
  color: #4a4e69;
  border-radius: 10px;
  border: 2px solid #4a4e6981;
  height: 100%;
  width: 100%;
  padding: 80px;
}
