@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');

.header {
  font-family: 'Bungee', cursive;
  font-size: 60px;
  text-align: center;
  text-decoration: none;
  margin-bottom: 5%;
  letter-spacing: 5px;
  color: #4a4e69;
}
