@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

.header {
  font-family: 'Abril Fatface', cursive;
  font-size: 60px;
  text-align: center;
  text-decoration: none;
  color: #595959;
  margin-bottom: 5%;
  letter-spacing: 5px;
}
